

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 16px;

}
body {
    margin:0;
    background-image: url("../obrazky/background_hoa_phuong.jpg");
    background-size: 100vw auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}


    

    
header {
    top:0;
    background-color:  #1B1B1B;
    
    width: 100%;
    position:fixed;
    z-index: 2;
}
.header_container {
    display:flex;
    
    
 
    align-items: center; 
    justify-content: space-between;
   
    
    padding-left:25px;
    max-width: 2000px;;
    margin: 0 auto;
    border: 1px solid white;
    

    
    
}



.header_nadpis_a_logo{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}


    
    


main {
   

    padding-top: 250px;

}
    
    
   

header h1{
    padding-left:3vw;
    font-family: 'Playfair Display', serif;
    justify-content: center;
    white-space: nowrap;
    flex: 0 1 auto;
    font-size: clamp(1rem, 2vw, 3rem); /*min preferred max velkost vw je viewport 2.5 percent*/ 
    font-weight: 700;
    margin-right: auto;
    padding-right: 5vw;
    color:#F2F2F2
    
}


.hlavny_nadpis_restauracie_odkaz{
    text-decoration: none;
}

header:hover{
    background-color:#e08d08 ;
    transition: 0.8s;
    
}


 
nav {
    flex: 0 1  auto;
    margin-right: 10vw;

}









img.logo_restauracie {
    flex:0 0 auto;
    width:clamp(3rem, 7vw,9rem);
    height:auto;
    
    
}

ul.nadpisy {
    display:flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    color:#F2F2F2;
    font-size: 30px;
    list-style-type: none;
    flex-direction: row;
    gap:2rem;

   
    
  
    
}



ul.nadpisy li a{
   
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Playfair Display', serif;
    font-size: clamp(1rem, 2vw, 3rem);
    color:#F2F2F2;
    display: flex;
    line-height: 1.2rem;
}


.header_container:hover a{
    color: #1F1F1F;
}
.header_container:hover h1{
    color: #1F1F1F;
}

.hamburger{
    display:none;
}

.nav_menu_mobil{
    display:none;
}




article.uvod_article {
    font-family: 'Playfair Display', serif;
    width:100%;
    max-width: 2000px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom:100px;

}




div.border_uvod {
    flex:1 1 500px ;
    font-size: clamp(17px,1.5vw,30px);
    padding:2em;
    background-color:  #262626;
    display: flex;
    flex-direction: column;

}
article.uvod_article p {
    color:#F2F2F2;
}
article.uvod_article h1 {
    color:#ffac33;
}



#uvod_id {
    scroll-margin-top: 190px;
}

#jedalny_listok_id {
    scroll-margin-top: 280px;
}

img.obrazok_1{
    flex: 1 1 50px;      
    width: 50vw; /* roztiahne sa a zmenší podľa dostupného miesta */
    max-width: 100%;       /* nikdy sa nezväčší viac než rodič */
    height: auto;          
    


}





.controls {
      display: flex;
      gap: 10px;
      margin-bottom: 16px;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 200px;
    }

.controls button {
    padding: 8px 14px;
    background:#ffac33;   /* tvoja červená akcent */
    color: #1B1B1B; 
    border-radius: 6px;
    cursor: pointer;
    font-size: 30px;
    font-family: "Montserrat",sans-serif;
    border: solid 2px rgb(225,266, 225) ;
    width: 200px;
    height: 100px;
    } 
.controls button:hover {
    background-color: rgb(236, 185, 17);   
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
    transform: translateY(-5px);
    }
    

.controls button[aria-pressed="true"] {
    z-index: 1;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
    transform: translateY(-15px);
    background-color: rgb(236, 185, 17);   
    }


.hidden {
  display: none !important;
}



article.jedalny_listok {
    display:flex;
    font-size: 1.5rem;
    justify-content: center;
    margin-bottom: 100px;
    
    
}



article.jedalny_listok em.male_pismo {
    font-size: 18px;
    font-family: "Montserrat";
    line-height: 15px;
}


article.jedalny_listok p em.male_pismo {
    font-size: 15px;
}





section.jedalny_listok_papier {
    display: flex;
    flex-direction: row;
    border: none;
    color: black;
    flex-wrap: wrap;
    width: 60rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    justify-content: center;

;
    
}



section.jedalny_listok_papier {
    font-family: 'Spectral';
    font-size: 30px;
    line-height: 30px;
}

p.doplnok_jedla {
    font-size: 22px;
    font-family: 'Noto Serif', serif !important;
    
}


em.male_pismo_sushi_menu {
    color: #b34c11;
    font-size: 27px;
}




div.prva_cast_jedalny_listok {
    flex:1 1 auto;
    border: 2px solid rgba(247, 218, 55);
    color: black;
    padding:2rem;
    width: 400px;
    
    
}

h2.nazov_jedal {
    display: flex;
    justify-content: center;
    background-color: rgba(247, 218, 55, 0.904);
    color: rgb(68, 155, 27);
    padding: 10px;
    line-height: 40px;
    font-size: 2.5rem;
   
}

div.nazov_jedla_a_cena {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

div.jedlo_div {
    /* border: 1px solid; */
    max-width: 17rem;
    line-height: 30px;

    
}

div.ceny_jedal {
    color: #f88400;
    font-weight: 600;
    line-height: 30px;
    white-space: nowrap;
    

}

div.druha_cast_jedalny_listok {
    flex: 1 1 auto;
    width: 400px;

    border: 2px solid rgba(247, 218, 55);
    border-left: none;
    color: black;
    padding:2rem;
}

.jedalny_listok_papier:hover {
  transform: scale(1.03);
  transition: 0.2s;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  z-index: 3;
  
}



.section_contact {
    margin-top: 250px;
    display: flex;
    color: white;
    font-size: 25px;
    font-family: 'Spectral';
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.section_contact article{
    background-color: #1F1F1F;
    padding: 40px;
    border-radius: 15px;
    border: 1px solid white;

}



.gallery {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 2000px;
    margin:0 auto;
    gap: 10px;
    margin-top: 200px;
    margin-bottom: 100px;
    place-items: center;    
    place-content: center;  
    padding: 0px 100px 0px 100px;

}
.gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}









footer {
    background-color: rgba(247, 218, 55);
    color:  rgb(240, 46, 46); 
    text-align: center;
    padding: 30px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    
    
 

    }   
.text_footer{
    margin-left: 80px;
    
}


footer img{
    width: 70px;
    height:auto;
}


/* Telefony */
@media (max-width: 600px) {
    body{
        background-image: url("../obrazky/background_hoa_phuong_mobil.jpg");
    }
    .hamburger{
        margin-right: 50px;
        display: block;
        color: white;
        font-size: 30px;
        cursor: pointer;

    }



    .navigacia{
   
        display:none;
    }
    
    .nav_menu_mobil{
        position: fixed;
        top: 50px;
        right: 0px;
        display: none;
        justify-content: center;
        margin-right: 0;
        background: linear-gradient(to bottom,#b34c11,#ffac33);
        border: 1px solid red;
        
    }
    
    .nav_menu_mobil.active{
        display: flex;
         
    }

    .nadpisy_mobil li{
       list-style-type: none;
       
    }
    .nadpisy_mobil a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: #3b2f2f;
        border: 1px solid white;
        height: 70px;
        align-items: center;
        font-size: 20px;
        
        
    }
    .jedalny_listok{
        /* padding: 100px; */
    }
    .controls button{
        width: 65px;
        height: 50px;
        font-size: 9px;
        padding: 2px 3px;
        font-weight: 500;
    }
    
}
