@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



.background_img {
    position: absolute;
    width: 100%;
    z-index: -1;

}

header {
   
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border: 3px solid yellow;
    padding:30px 30px 0px 30px;
    max-width:2600px;
    margin:0 auto;

}

nav {
    border: 1px solid brown;
}

.logo {
    width: 160px;
    height: auto;
}

.main_navigation {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    color: white;
    font-family:"Poppins";
    font-size: 1.2rem;
    list-style-type: none;
    
}



.navigation-li {
    padding: 10px 30px 10px 30px;
    display:flex;
    align-items:center;
}

.search_bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_content .search_bar img {
    width: 25px;
    height: auto;
}

.button_free_consultancy {
    width: 190px;
    height: 55px;
    background:transparent;
    border:1px solid white;
    color: white;
    font-family:"Poppins";
    font-weight:500;
    font-size: 1rem;
    border-radius: 5px;
}

.button_free_consultancy:hover {
    background-color:white;
    color: blue;
    transition: 0.8s;
}


