*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



.background_img {
    position: absolute;
    width: 100%;
    z-index: -1;

}

header {
   
}

.header_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border: 3px solid yellow;

}

nav {
    border: 1px solid brown;
}

.logo {
    width: 160px;
    height: auto;
}

.main_navigation {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    color: white;
    font-size: 1.5rem;
    list-style-type: none;
    
}

.navigation-li {
    padding: 10px 30px 10px 30px;
}

.header_content .search_bar img {
    width: 45px;
    height: auto;
}

.button_free_consultancy {
    width: 190px;
    height: 40px;
    background:transparent;
    border:3px solid white;
    color: white;
    font-size: 1rem;
}

