.obdlznik  {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(173, 43, 43);
    margin: 200px 0px 0px 200px;
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: 1;
    
    
    
}

@keyframes spin{
    0%{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        
    }

    33%{
        transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
        
    }

    67%{
        transform: rotateX(0deg) rotateY(180deg) rotateZ(360deg);
    }

    100%{
        transform: rotateX(180deg) rotateY(180deg) rotateZ(360deg);
    }
}